.toastManager {
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 30%;
}

.toast {
    box-sizing: border-box;
    animation: notificationEntry 0.7s ease-in;
}

@keyframes notificationEntry {
    from {
        right: -100%;
    }
    to {
        right: 20px;
    }
}